[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/csv"]
	path = bundle/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "bundle/dash"]
	path = bundle/dash
	url = https://github.com/rizzatti/dash.vim.git
